
<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="$(find ales_description)/worlds/lunapit.world"/>
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- start gazebo with the Atlas -->
  <node name="gazebo" pkg="atlas_utils" type="run_$(arg gzname)" args="$(arg gzworld)" output="screen" />
  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find ales_description)/urdf/ales.urdf"/>
   <!-- Controller Manager -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find ales_description)/urdf/ales_rviz.vcg" />
</launch>
  

