  <?xml version="1.0"?>
  <model>
    <name>ales</name>
    <version>1.0</version>
    <sdf>urdf/ales.urdf</sdf>
    <author>
      <name>Vaibhav Kapoor</name>
      <email>vaibhav.kapoor06@gmail.com</email>
    </author>
    <description>
      A description of the model
    </description>
  </model>